.contenido {
  margin-top: 240px;
}
.card {
  font-size: 0.8em;
  border-radius: 15px;
  color: rgb(163, 163, 163);
}
.card img {
  border-bottom: 2px solid rgb(238, 119, 119);
  width: 100%;
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.title {
  border-top: 1px solid rgb(111, 111, 111);
  border-bottom: 1px solid rgb(111, 111, 111);
  color: #fff;
}

@media (min-width: 992px) {
  .card img {
    border-bottom: none;
    border-right: 2px solid rgb(238, 119, 119);

    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
  }
}

@media (max-width: 768px) {
  .contenido {
    margin-top: 170px;
  }
}
