<div class="container mt-4">

    <div class="row d-flex justify-content-center mb-3">
        <div *ngFor="let nave of resultados; let i = index" class="col-7"> 
            <div class="card"
                (click)="llamarNave(i)"
                style="cursor: pointer">
                <div class="card-body bg-dark">
                    <p class="card-text">
                        {{ nave.name }}  
                    </p>
                    <p>
                        {{ nave.model }}
                    </p>
                </div>
            </div>
            <br>
        </div>
    </div>
