.card {
  border-radius: 15px;
  color: rgb(163, 163, 163);
}
.card-title {
  font-size: 1.1em;
  font-weight: 300;
}
.card img {
  border-bottom: 2px solid rgb(238, 119, 119);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.title {
  border-top: 1px solid rgb(111, 111, 111);
  border-bottom: 1px solid rgb(111, 111, 111);
  color: #fff;
}
